.frmRegister,
.frmSetPassword {
    .mbCInput {
        margin-bottom: 20px;
    }

    .err {
        font-size: 13px;
        height: 16px;
    }
}

.frmOtp {
    .inputNoCaret {
        caret-color: transparent;
        text-align: center;
        font-size: 30px;
        border-bottom: 3px solid #7E7BF7;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;

        &:focus {
            border-bottom: 3px solid #F3701E;
        }
    }
}