.header {
    border-radius: 0 0 50px 50px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 99;
}

.color-text-header {
    color: #0B1A46 !important;
    font-size: 18px !important;
}

.color-btn-header {
    background-color: #298B90;
    white-space: nowrap;
    border: none;
}

@media ((min-width: 992px) and (max-width:1099px)) or (min-width:1200px) {
    .px-3-lg {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}


.font-size-header {
    font-size: 24px;
}

.color-btn-header:hover {
    background-color: #1c797e;
}

@media (min-width: 1100px) and (max-width: 1399px) {
    .col-xl-3_5 {
        flex: 0 0 auto;
        width: 30.66666667%;
    }

    .col-xl-1_5 {
        flex: 0 0 auto;
        width: 11%;
    }
}

@media (min-width:0px) {
    .flex-ssm-row {
        flex-direction: row;
    }
}

@media(min-width:992px) {
    .w-ul-header {
        display: inline-flex !important;
    }

    .border-link-header {
        li {
            position: relative;
            padding: 0 1rem; // Khoảng cách giữa các li bằng độ dài chữ

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: #e2e8f0; // Gạch từ trên xuống giữa các li
            }

            &:last-child::before {
                display: none; // Không vẽ gạch cho li cuối cùng
            }
        }
    }

    .cangiua {
        display: flex;
        justify-content: center;
        align-items: center;
        /* Căn giữa theo chiều dọc */
    }

}

.text-logo {
    height: 100%;
    font-size: 1.5rem;
    font-family: Roboto Flex;
    font-weight: 600;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-menu-custom {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    top: 100%;
    padding: 2px;
    right: -6px;
    border-radius: 10px;
    margin-top: 4px;
}

.dropdown-custom:hover .dropdown-menu-custom {
    display: block;
}

.dropdown-item {
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-divider {
    margin: 0;
    border-top: 1px solid #ddd;
    margin: 5px 0;
}

/* Ẩn nút tam giác của dropdown */
.dropdown-toggle::after {
    display: none;
}

/* Tùy chỉnh cho icon người dùng */
.header-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}